.analisis {
    margin: 10px;
    padding: 20px;
    text-align: center;
    justify-content: center;
    display: flex;
  
}
.subtitulo {
    text-align: center;
    justify-content: center;
    display: flex;
  }
.carrousel_container {
    .carousel {
        max-width: 800px;
        margin: auto;
        // .carousel-inner {
        //     .carousel-item {
        //         img {
        //             height: 600px;
        //             width: auto;
        //           }
        //     }
        // }
    }
}
.columna {
    
  display: flex;
  flex-direction: column;
  margin: 10px;
  .fila {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 10px;
    flex-direction: row;
    justify-content: center;
    .circulos {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin: 10px;
        padding: 30px;
        background-color: map-get($fondo , fondo );
        display: flex;
        justify-content: map-get($flexbox, alinearitems );
        align-items: map-get($flexbox, justificarcontenido );
        color: #fff;
        font-weight: bold;
        margin-right: 10px;
        h5 {

        .card-title {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          text-align: center;
        }
      }
    } 
    .imagen {
        width: 100%;
        
      }
  }
 
}