.footer_container {
  background-color: #080808;
  padding: 10px;
  color: #fff;
  height: 200px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: map-get($flexbox , justificarcontenido );
  align-items: map-get($flexbox , alinearitems );
  .social-icons {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    height: 50px;
    justify-content: space-around;
    align-items: map-get($flexbox , alinearitems );
    flex-direction: row;
    filter: brightness(5.5);
  }
} 