.masjugados {
    display: flex;
    justify-content: map-get($flexbox , justificarcontenido );
    align-items: map-get($flexbox , alinearitems );
    text-align: center;
    margin: 50px;
}
.fila_guia {
    margin-bottom: 50px;
    .tarjeta_guia {
        width: 100%;
        background-color: #f0f0f0;
        padding: 10px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: map-get($flexbox , justificarcontenido );
        align-items: map-get($flexbox , alinearitems );
        img {
            max-width: 100%;
            height: auto;
            margin-bottom: 10px;
        }
    }
} 